<div fxLayout="column" class="mt-5">
  <div class="px-1 px-sm-5 list-button" fxLayoutAlign="space-between">
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="buscar..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button class="" mat-button routerLink="/eventos/crear" color="primary">
      <mat-icon>add</mat-icon> Crear Evento
    </button>
  </div>


  <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
    <caption style="display: none;">Eventos</caption>
    <ng-container matColumnDef="idEvento">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Id Evento </th>
      <td mat-cell *matCellDef="let doc"> {{doc.idEvento}} </td>
    </ng-container>
    <ng-container matColumnDef="titulo">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
      <td mat-cell *matCellDef="let doc"> {{doc.titulo}} </td>
    </ng-container>
    <ng-container matColumnDef="categorias">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Categorías </th>
      <td mat-cell *matCellDef="let doc">
        <p class="mb-1" *ngFor="let categoria of doc.categorias">
          {{categoria.nombre}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm> Fecha </th>
      <td mat-cell *matCellDef="let doc" fxHide.lt-sm>
        {{doc.fecha | date: 'fullDate'}}
      </td>
    </ng-container>

    <!-- botones para editar, eliminar -->
    <ng-container matColumnDef="acciones">
      <th scope="col" mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let doc">
        <button mat-icon-button [matMenuTriggerFor]="options">
          <mat-icon class="mat-18">more_horiz</mat-icon>
        </button>
        <mat-menu #options="matMenu">
          <button mat-menu-item>
            <mat-icon>info</mat-icon> Ver información del evento
          </button>
          <button mat-menu-item>
            <mat-icon>chat</mat-icon> Comentarios
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon> Editar Evento
          </button>
          <button mat-menu-item>
            <mat-icon>fact_check</mat-icon> Gestionar Asistentes
          </button>
          <button mat-menu-item>
            <mat-icon>groups</mat-icon> Gestionar Conferencistas
          </button>
          <button mat-menu-item>
            <mat-icon color="warn">delete</mat-icon> Eliminar Evento
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <!-- elementos necesarios para el mat-table de angular material-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- paginador de angular material-->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" class="mat-elevation-z8">
  </mat-paginator>
</div>
